body
{
	margin: 0;
	background: url(../images/Background2.jpg);
	background-size: cover;
	font-family: Times New Roman;
}

.loginBox
{
	 position: absolute;
	 top: 15%;
	 left: 35%;
	 width: 520px;
	 height: 540px;
	 padding: 50px;
	 box-sizing: border-box;
	 background: rgba(0,0,0,.5);
	 border-radius: 5px;
}

h1
{
	margin: 0;
	padding: 0px;
	color: #efed40;
	text-align: left;
}
.loginBox p 
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;

}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: solid;
	border-color: gray;
	background: transparent;
	outline: none;
	height: 40px; 
	color: #fff;
	font-size: 16px;

}

.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	width: 90px;
	color: #F5F5DC;
	font-size: 16px;
	background: orange	;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0px;
	position: absolute;
	left: 75%;
	top: 87%;

}
.loginBox input[type="submit"]:hover 
{
	background: gray;
	color: #262626;
}
.loginBox input[type="button"]
{
	border: none;
	outline: none;
	height: 40px;
	width: 90px;
	color: #F5F5DC;
	font-size: 16px;
	background: #33ccff	;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0px;

}
.loginBox input[type="button"]:hover 
{
	background: gray;
	color: #262626;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}	

.secret{
	color: #efed40;
}
.secret select{
	background:transparent;
	color: white;
	border-radius: 5px;
}

.secret option{
	background:rgba(0.0.0.05);
	color: white;
}


